In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/faras/Descargas/neo4j-community-3.2.1/import/igj-autoridades_29-06-17.csv')

def remove_spaces(ele):
    return ''.join(ele.split())

df['numero_documento'] = df['numero_documento'].astype(str)
df['numero_documento'] = df['numero_documento'].apply(remove_spaces)
df.head()

,numero_correlativo,apellido_nombre,tipo_administrador,descripcion_tipo_administrador,tipo_documento,descripcion_tipo_documento,numero_documento
0,44,"ALDAZABAL, PABLO MANUEL",A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10134086
1,60,"ALVAREZ, HORACIO RAUL",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
2,60,"ALVAREZ, LUIS ENRIQUE",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344
3,60,ALVAREZ HORACIO RAUL,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
4,60,ALVAREZ LUIS ENRIQUE,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344

In [47]:
df_unico = df.drop_duplicates(subset='numero_documento', keep='last')
df_unico.shape

(627615, 7)

In [48]:
df_unico.to_csv('/home/faras/Descargas/neo4j-community-3.2.1/import/igj-autoridades_unicos.csv', index=False, header=False)

In [19]:
df_limpio = pd.read_csv('/home/faras/Descargas/neo4j-community-3.2.1/import/igj-autoridades_29-06-17.csv')

def remove_spaces(ele):
    ele = ele.replace('.', '')
    return ''.join(ele.split())

df_limpio['numero_documento'] = df_limpio['numero_documento'].astype(str)
df_limpio['numero_documento'] = df_limpio['numero_documento'].apply(remove_spaces)

df_limpio['numero_correlativo'] = df_limpio['numero_correlativo'].astype(str)
df_limpio['numero_correlativo'] = df_limpio['numero_correlativo'].apply(remove_spaces)

df_limpio['tipo_administrador'] = df_limpio['tipo_administrador'].astype(str)
df_limpio['tipo_administrador'] = df_limpio['tipo_administrador'].apply(remove_spaces)

df_limpio.head()

,numero_correlativo,apellido_nombre,tipo_administrador,descripcion_tipo_administrador,tipo_documento,descripcion_tipo_documento,numero_documento
0,44,"ALDAZABAL, PABLO MANUEL",A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10134086
1,60,"ALVAREZ, HORACIO RAUL",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
2,60,"ALVAREZ, LUIS ENRIQUE",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344
3,60,ALVAREZ HORACIO RAUL,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
4,60,ALVAREZ LUIS ENRIQUE,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344

In [11]:
#df_limpio[df_limpio['numero_correlativo'] == 'nan']

Empty DataFrame
Columns: [numero_correlativo, apellido_nombre, tipo_administrador, descripcion_tipo_administrador, tipo_documento, descripcion_tipo_documento, numero_documento]
Index: []

In [23]:
df_limpio[df_limpio['numero_documento'] == 'FG255649']

,numero_correlativo,apellido_nombre,tipo_administrador,descripcion_tipo_administrador,tipo_documento,descripcion_tipo_documento,numero_documento
17370,162004,"Priscila, Troian Mello",nan,NaN,5,PASAPORTE,FG255649

In [24]:
df_limpio.to_csv('/home/faras/Descargas/neo4j-community-3.2.1/import/igj-autoridades_limpio.csv', index=False, header=False)