In [1]:
import pandas as pd

In [6]:
df_autoridades = pd.read_csv('../datos/igj-autoridades.csv')

def remove_spaces(ele):
    ele = ele.replace('.', '')
    return ''.join(ele.split())

df_autoridades['numero_documento'] = df_autoridades['numero_documento'].astype(str)
df_autoridades['numero_documento'] = df_autoridades['numero_documento'].apply(remove_spaces)

df_autoridades['descripcion_tipo_administrador'] = df_autoridades['descripcion_tipo_administrador'].astype(str)
df_autoridades['descripcion_tipo_administrador'] = df_autoridades['descripcion_tipo_administrador'].apply(remove_spaces)

df_autoridades.head()

,numero_correlativo,apellido_nombre,tipo_administrador,descripcion_tipo_administrador,tipo_documento,descripcion_tipo_documento,numero_documento
0,44,"ALDAZABAL, PABLO MANUEL",A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10134086
1,60,"ALVAREZ, HORACIO RAUL",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
2,60,"ALVAREZ, LUIS ENRIQUE",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344
3,60,ALVAREZ HORACIO RAUL,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
4,60,ALVAREZ LUIS ENRIQUE,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344

In [7]:
df_relacion = pd.DataFrame()
df_relacion['numero_correlativo'] = df_autoridades['numero_correlativo']
df_relacion['dni'] = df_autoridades['numero_documento']
df_relacion['descripcion_tipo_administrador'] = df_autoridades['descripcion_tipo_administrador']

df_relacion.head()

   numero_correlativo       dni descripcion_tipo_administrador
0                  44  10134086                      AUTORIDAD
1                  60  10260149                          SOCIO
2                  60  11499344                          SOCIO
3                  60  10260149                      AUTORIDAD
4                  60  11499344                      AUTORIDAD

In [8]:
df_relacion['descripcion_tipo_administrador'] df_relacion['descripcion_tipo_administrador'].fillna(False)

Empty DataFrame
Columns: [numero_correlativo, dni, descripcion_tipo_administrador]
Index: []

In [4]:
df_relacion.to_csv('../datos/relaciones.csv', index=False)